.button_auth {
    background-color: #263248;
    border: 1px solid #263248;
}
.button_auth:hover {
border: 1px solid #263248;
    color: #263248;
    background-color: rgb(255, 255, 255);
}
.button_reg {
    border: 1px solid #263248;
    color: #263248;
}
.button_reg:hover {
    background-color: #263248;
        border: 1px solid #263248;
        color: rgb(255, 255, 255);
}
.form_vhod {
    max-width: 800px;
    margin: 0px auto;
}
.form_vhod input:focus {
outline: #263248;
 border: 1px solid #263248;

-webkit-box-shadow: 0px 1px 0px 5px rgba(38, 50, 72, 0.26);
    -moz-box-shadow: 1px 1px 0px 5px rgba(38, 50, 72, 0.26);
    box-shadow: 1px 1px 0px 5px rgba(38, 50, 72, 0.26);
}
/* .video_main {
    max-height: 100%;
    
} */
/* .video_block {

    height: 300px;
    
} */
a {
    text-decoration: none;
}
.video_block {
    background-color: #263248;
    color: #ffffff;
    height: 250px;
    width: 310px;
    border-radius: 10px;
}
.video_block p {
    margin-left: 5px;
}
.video_block video {
    margin-top: 5px;
    margin-left: 5px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
}

p {
    margin-bottom: 0rem;
}

hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #263248; /* Цвет линии для остальных браузеров */
    background-color: #263248; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}
