.button_auth {
    background-color: #263248;
    border: 1px solid #263248;
}
.button_auth:hover {
border: 1px solid #263248;
    color: #263248;
    background-color: rgb(255, 255, 255);
}
.button_reg {
    border: 1px solid #263248;
    color: #263248;
}
.button_reg:hover {
    background-color: #263248;
        border: 1px solid #263248;
        color: rgb(255, 255, 255);
}
.form_vhod {
    max-width: 800px;
    margin: 0px auto;
}
.form_vhod input:focus {
outline: #263248;
 border: 1px solid #263248;

-webkit-box-shadow: 0px 1px 0px 5px rgba(38, 50, 72, 0.26);
    -moz-box-shadow: 1px 1px 0px 5px rgba(38, 50, 72, 0.26);
    box-shadow: 1px 1px 0px 5px rgba(38, 50, 72, 0.26);
}
.video_main {
  padding-top: 20px;
    
}
/* .video_block {

    height: 300px;
    
} */
.mb-4 {
    margin-bottom: 0rem!important;
}
a {
    text-decoration: none;
}
.video_block {
    background-color: #263248;
    color: #ffffff;
    height: 230px;
    width: 310px;
    border-radius: 10px;
}
.video_block p {
    margin-left: 5px;
}
.video_block video {
    margin-top: 5px;
    max-width: 100%;
    max-height: 150px;
    border-radius: 10px;
}

p {
    margin-bottom: 0rem;
}

hr {
    border: none;
    color: #263248; 
    background-color: #263248; 
    height: 2px; 
}
.video_mainFor {
    gap: 5%; 
    width: 100%;
   padding-top:10px;
}
.video_one {
    color: #ffffff;
}
.video_one video {
    border-radius: 50px;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    width: 1300px;
    height: 700px;
    top: 0;
    left: 0;
    padding-bottom: 10px;
}
.video_one p {
    font-size: 20px;
   
}
.video_section {
    background-color: #263248;
    padding-bottom: 20px;
}
.comment_main {
    color: #ffffff;
  
    background-color: #263248;

    border: 1px solid #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    
}
.comment_logo {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 30px;
  
}
.comment_text {
    width: 90%;
    margin-left: 15px;
    height: 40px;
    background-color: #263248;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    margin-bottom: 20px;
}
.comment_text:focus {
    outline: none;
    color: #ffffff;
}
.comment_add {
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #263248;
    border: 1px solid #ffffff;
}
.comment_add:active {
    background-color: #263248;    
    color: #ffffff;
    border: 1px solid #ffffff;
}
.comment_users {
    padding-left: 10px;
    font-size: 22px;

}
.comment_users p:first-child  {
    font-size: 26px;
    
    font-weight: 500;
  
}
.addVideo_link {
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #ffffff !important;
    color: #263248 !important;
    border: 1px solid #263248 !important;
    border-radius: 100px !important;
    font-size: 16px !important;
    padding: 4px 10px !important; 
    transition: all 1.2s ease !important;
    text-align: center;
    margin-left: 50%;
    margin-top: 20px;
}

.addVideo_link:hover {
    text-decoration: none !important; 
    background-color: #263248 !important;
    color: #ffeded !important;
    border-color: #263248 !important;
    }
.video_block_on {
    width: 65%;
    border-radius: 10px;
    height: 180px;
 
}
.video_block_on video {
    margin-left: 20px;
    margin-top: 20px;
    max-width: 100%;
    width: 300px;
    max-height: 150px;
    border-radius: 10px;
}


.button {
    background-color: #263248;
    border: unset;
    outline: 0;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    padding: 5px 10px;
  }

  .button_dislike {
    background-color: #263248;
    border: unset;
    outline: 0;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    padding: 5px 10px;
  }


  .button.liked {
    color: #0571ed;
  }
  .button.liked i{
    animation: anim 0.5s ease-in-out;
    -webkit-animation: anim 0.5s ease-in-out;
  }
  @keyframes anim {
    100% {
      transform: rotate(-15deg) scale(1.3);
      -webkit-transform: rotate(-15deg) scale(1.3);
      -moz-transform: rotate(-15deg) scale(1.3);
      -ms-transform: rotate(-15deg) scale(1.3);
      -o-transform: rotate(-15deg) scale(1.3);
      filter: blur(0.5px);
      -webkit-filter: blur(0.5px);
    }
  }
.error_like {
    color: #ff0000;
    text-decoration: none;
    margin-left: 10px;
}